<!-- extendemos desde base-->
{% extends 'core/base.html' %}

<!-- cargamos los archivos estaticos -->
{% load static %}

<!--Cargamos el titulo -->
{% block title %}Historia{% endblock %}

<!-- Cargamos el contenido dinamico -->
{% block content %}
  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Pioneros en la indrustria</span>
                <span class="section-heading-lower">Nuestra historia</span>
              </h2>
              <p>“MUSIC PRO” es una distribuidora ubicada en la comuna de Providencia en  Santiago de Chile desde el año 1988 y tiene sedes repartidas por la región metropolitana, las cuales se encuentran en Maipú desde el 2001, Santiago desde el 2003, y Vitacura desde el 2010, abarcando así una gran  área de la región antes mencionada y haciendo más fácil su distribución de productos.  
              <p>Los distintos instrumentos y accesorios que se pueden encontrar en “MUSIC PRO” son diversos, van desde  guitarras acústicas, guitarras eléctricas de 6 a 8 cuerdas, bajos activos y pasivos de 4 a 6 cuerdas, sets de batería,  amplificadores, cabezales, accesorios y además artículos como audífonos, parlantes, interfaces, adaptadores,  pedales, cuerdas, etc., lo cual es posible gracias a que “MUSIC PRO”
                tiene trato con marcas reconocidas del área  como Ibáñez, ESP, Gibson, Jackson Marshall, y muchas más que hacen que sea una tienda diversa y muy solicitada  por la variedad y calidad de sus productos.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock  %} 