{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <!-- Cabecera -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Vive la experiencia</span>
              <span class="section-heading-lower">Te gustará</span>
            </h2>
            <p class="mb-3">Sumate a la nueva era en compra de instrumentos. Deja que nuestros expertos te ayuden a encontrar el sonido que buscas.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="store">Visítanos</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Mensaje -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">En Music Pro estamos 100% comprometidos en ofrecer a nuestros clientes una experinecia única de compra, siendo 
                la expertis de nuestros vendedores nuestro sello de CALIDAD.
              Ademas, entregamos a nuestros clientes una garantía de 2 años en todos los productos adquiridos en nuestra tienda.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

