<!-- extendemos desde base-->
{% extends 'core/base.html' %}

<!-- cargamos los archivos estaticos -->
{% load static %}

<!--Cargamos el titulo -->
{% block title %}Productos{% endblock %}

<!-- Cargamos el contenido dinamico -->
{% block content %}

{% for product in products %}
  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">{{product.subtitle}}</span>
              <span class="section-heading-lower">{{product.nom_producto}}</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{product.image.url}}" alt="">
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">{{product.descripcion}}</p>
            <p class="mb-0">{{product.value}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}  

{% endblock %}